.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
  }
  
  a {
    margin: 3px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }

  #cartIcon{
    color: greenyellow;
  }

  a:hover{
    color: #ddd;
  }
