<div class="confirmation-container">
  <div class="confirmation-header"><h1>Success!</h1></div>
  <div class="confirmation-items">
    <p>
      Thanks you, <span style="font-weight: bold">{{ user.name }}!</span>
    </p>
    <p>
      Your <span style="font-weight: bold">${{ user.total }}</span> order is
      confirmed!
    </p>
    <p>Please Allow 1-3 business day(s) for shipping.</p>
    <a (click)="clerServ()" routerLink="/"
      ><button class="back-btn">Back to product List</button></a
    >
  </div>
</div>
